.card-shop{
  width: 360px;
  background: orange !important;
  border: 1px solid black !important;
}
.btn-card-shop{
  width: 100%;
  height: 100%;
  text-align: center;
}
.card-body-shop{
  background-color: white !important;
}