<div class="container">
    <div class="row bt-categoria">
        <div class="col-8 col-sm-6 col-md-3  m-t-1 categoria">
          <a href=""> <img src="images/smartphone.png" alt="" class="ico-btn-categoria"> Hola<img
              src="images/right-arrow.png" alt="" class="ico-btn-categoria-arrow"></a>
        </div>
        <div class="col-8 col-sm-6 col-md-3  m-t-1 categoria">
          <a href=""> <img src="images/smartphone.png" alt="" class="ico-btn-categoria"> Hola<img
            src="images/right-arrow.png" alt="" class="ico-btn-categoria-arrow"></a>
        </div>
        <div class="col-8 col-sm-6 col-md-3  m-t-1 categoria">
          <a href=""> <img src="images/smartphone.png" alt="" class="ico-btn-categoria"> Hola<img
            src="images/right-arrow.png" alt="" class="ico-btn-categoria-arrow"></a>
        </div>
        <div class="col-8 col-sm-6 col-md-3 m-t-1 categoria">
          <a href=""> <img src="images/smartphone.png" alt="" class="ico-btn-categoria"> Hola<img
            src="images/right-arrow.png" alt="" class="ico-btn-categoria-arrow"></a>
        </div>
      </div>
  </div>


 <!-- <div class="intro-header">
    <div class="bg-overlay">
      <div class="container">


          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-message">
                      <h1>Infinito Web Design Studio</h1>
                      <h3>Where Awesomeness Is Brought To Life.</h3>
                      <hr class="intro-divider">
                      <ul class="list-inline intro-social-buttons">
                          <li>
                              <a href="https://twitter.com/Ferreir4Thiago" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                          </li>
                          <li>
                              <a href="https://github.com/ThiagoFerreir4" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                          </li>
                          <li>
                              <a href="https://www.linkedin.com/in/thiagoferreir4" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                          </li>
                          <li>
                              <a href="https://www.freecodecamp.com/thiagoferreira" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-free-code-camp fa-fw"></i> <span class="network-name">freeCodeCamp</span></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>

      </div>
    -->