
   <!-- Footer -->
   <footer>
    <div class="container-fluid footer-dis">
        <div class="row footer-dis">
            <div class="col-12 col-sd-6 col-md-3 footer-cont">
                <div class="footer-img">
                    <div class="footer-img-logo">
                        <img src="/images/logo.png" alt="" width="223">
                    </div>
                    <div class="footer-ico">
                        <img class ="icono-footer" src="./images/network.png" alt="">
                        <img class ="icono-footer" src="./images/instagram.png" alt="">
                        <img class ="icono-footer" src="./images/twitter.png" alt="">
                        <img class ="icono-footer" src="./images/youtube.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-sd-6 col-md-2 footer-cont">
                <p>INICIO</p>
                <ul>
                    <li>Ofertas</li>
                    <li>Ventajas</li>
                    <li>Dispositivos</li>
                    <li>Ayuda</li>
                    <li>Quiénes somos</li>
                    <li>Ofertas de empleo</li>
                </ul>
            </div>
            <div class="col-12 col-sd-6 col-md-2 footer-cont">
                <p>EXPLORAR</p>
                <ul>
                    <li>Todos los canales</li>
                    <li>Charts
                    </li>
                    <li>Lanzamiento más popular</li>
                    <li>Nuevos lanzamientos</li>
                </ul>
            </div>
            <div class="col-12 col-sd-6 col-md-2 footer-cont">
                <p>¿QUIÉNES SOMOS?</p>
                <ul>
                    <li>Sellos y artistas</li>
                    <li>Desarrolladores</li>
                    <li>Prensa</li>
                </ul>
            </div>
            <div class="col-12 col-sd-6 col-md-2 footer-cont">
                <p>LEGAL</p>
                <ul>
                    <li>Condiciones generales de uso</li>
                    <li>Datos personales y cookies</li>
                    <li>Contacto: fernando@elpro.com</li>
                    <li>Aviso legal</li>
                    <li>Ajustes de privacidad</li>
                </ul>
            </div>
        </div>
        <div class="row bg-footer">
            <!-- <div class="idioma-web">
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle bt-footer-idioma"
                            type="button" data-toggle="dropdown">
                      Español <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>Ingles</li>
                      <li>Frances</li>
                      <li>Aleman</li>
                    </ul>
                  </div>
            </div> -->
            <div class="copyright">
                <p>© 2020 Ferllago</p>
            </div>
        </div>
    </div>
</footer>

<!-- Footer END -->