<nav>
    <div class="brand">LOGO</div>
    <div class="nav-items display">
      <a href="#" class="active">Home</a>
      <a href="#">About</a>
      <a href="#">Price</a>
      <a href="#">Contact</a>
    </div>
    <div class="hamburger">
      <div class="hamb-line"></div>
      <div class="hamb-line"></div>
      <div class="hamb-line"></div>
    </div>
  </nav>
  <div class="content">
    <div class="brand">LOGO</div>
  </div>