  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark primary-color nav-shop">

    <!-- Navbar brand -->
    <a href="/"><img src="/images/logo.png" alt="" class="logo-navbar"></a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse bg-white" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">Usuarios</a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item">
          <a class="nav-link" href="/products">Productos</a>
        </li>

      </ul>
      <!-- Links -->

      <form class="form-inline">
        <div class="md-form my-0">
          <a href="/" class="logo-user-navbar"> <img src="/images/user.png" alt=""></a>
          <a href="#" class="logo-user-navbar"> <img src="/images/shopping-cart.png" alt=""></a>
        </div>
      </form>
    </div>
    <!-- Collapsible content -->

  </nav>
  <!-- Navbar End -->