<div class="container-fluid">
    <div class="row banner">
        <div class="col-12 col-md-6 banner-iz ">
            <div class="ico-group sorteo">
            </div>

        </div>
        <div class="col-12 col-md-6 banner-der">
            <h1 class="margin-bottom-sorteo">¡SUSCRÍBETE Y PARTICIPA!</h1>
            <span class="sorteo-rell"><button class="btn-sorteo" onclick=" 
                Swal.fire('Gracias por ¡SUSCRÍBETE!')">¡Suscribirme!</button></span>
        </div>
    </div>
</div>